<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <uses-permission
    android:name="android.permission.SYSTEM_ALERT_WINDOW"
    tools:node="remove" />
  <application
    android:usesCleartextTraffic="false"
    android:networkSecurityConfig="@xml/network_security_config"
    tools:replace="android:usesCleartextTraffic,android:networkSecurityConfig" />
</manifest>
