EXPO_PUBLIC_SIDECAR_BASE_URL=http://127.0.0.1:42817
EXPO_PUBLIC_LOCALHOST_TOKEN=replace_me
EXPO_PUBLIC_RELAY_BASE_URL=http://127.0.0.1:8080
XMILO_ANDROID_PACKAGE=com.hatsunama.xmilo.dev
EXPO_PUBLIC_RC_ANDROID_API_KEY=test_your_public_android_key_here
EXPO_PUBLIC_RC_ENTITLEMENT_ID=xmilo_pro
